.Control {
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - 400px);
}

.flxCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu {
    flex: 1;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cart-box {
    max-width: 400px;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
}

.cart-box-header {
    position: sticky;
    top: 0;
    right: 0;
    background-color: white;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-bottom: 2px solid green;
    border-left: 2px solid green;

}

.cart-box-header p span {
    padding: 3px 8px;
    background-color: blueviolet;
    color: white;
    border-radius: 50px;
}

.cart-box-items {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
}

.cart-box-total {
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70px;
    background-color: #fbfbfb;
    padding-top: 20px;
}

.cart-box-total-amount {
    background-color: white;
    color: blueviolet;
    font-weight: bold;
    width: 80%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-box-pay {
    width: 80%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn,
.checkout-btn,
.cancel-btn {
    width: 140px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn span {
    margin-right: 10px;
    font-size: 27px;
}

.cancel-btn {
    background-color: rgb(197, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}

.checkout-btn {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.checkout-btn:disabled {
    color: silver;
    background-color: whitesmoke;
}

/*menu header*/
.menu-header {
    background-color: white;
    padding: 0px 20px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 2px solid green;
    position: sticky;
    top: 0;
    right: 0;
}

.menu-ct {
    width: 100%;
}

.menu-header-nav {
    display: flex;
}

/*filter menu btn*/
.filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 35px;
}

.filterBtn img {
    width: 25px;
    height: auto;
}

.filterBtn span {
    display: block;
}

/*cancel confirm*/
.cancel-confirm {
    width: 100vw;
    max-height: 100vh;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.cc-container {
    background-color: white;
    padding: 60px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cc-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 40px;
}

/*Anima*/
.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}