.checkout {
    background-color: whitesmoke;
    position: absolute;
    width: 100%;
    width: 100vw;
    height: 100%;
    max-height: 100vh;
    z-index: 10;
    overflow-y: scroll;
}

.checkout-container {
    margin: 30px auto;
    max-width: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.checkout-container h2 {
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(110, 110,
            110);
}

.checkout-items {
    padding: 20px;
    background-color: white;
    max-width: 400px;
    width: 100%;
    min-height: 400px;
    position: relative;
}

.checkout-item-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.checkout-btns-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.checkout-btns-container button {
    width: 140px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.checkout-bill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-top: 1px black dotted;
    position: -webkit-sticky;
    bottom: 0;
    left: 0;
}